<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <p>
    <label for="name">Name </label>
    <input type="text" id="name" name="name" formControlName="name" />
  </p>

  Skills:
  <div formArrayName="courseType">
    <div *ngFor="let skill of courseType.controls; let i = index">
      <div [formGroupName]="i">
        {{ i }}
        skill name :
        <input type="text" formControlName="academicYear" />
        exp:
        <input type="text" formControlName="activeFlag" />

        <button (click)="removeSkill(i)">Remove</button>
      </div>
    </div>
  </div>

  <p>
    <button type="submit">Submit</button>
  </p>
</form>

<p>
  <button type="button" (click)="addSkills()">Add</button>
  <button type="button" (click)="onReset()">Reset</button>
</p>
<pre>{{ this.myForm.value | json }}</pre>
